<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Blog Page</title>
    </head>
    <body>
        <input type="text" id="title" class="inputs">
        <input type="text" id="tag" class="inputs">
        <input type="text" id="text" class="inputs">
        <button id="Add" class="buttons">Save</button>
        <div id="output" class="content"></div>
        <script src="/static/index.js"></script>
    </body>
</html>