<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>Blog Page</title>
    </head>
    <body>
        <h1 class="headings">shinobi On The rocks 🪨</h1>
        <h3 class="headings">Things that Escalated...</h3>
        <input type="text" id="search" class="inputs">
        <button id="broadSearch" class="buttons">Search By Keyword</button>
        <button id="narrowSearch" class="buttons">Search By Name</button>
        <h2 class="headings">Blogs</h2>
        <div id="blogs" class="content">
        </div>
        <button id="add" class="buttons">Add New</button>
        <h2 class="headings">About Me</h2>
        <p id="About" class="para">
            I'm a computer science student who enjoys algorithms, competitive programming, and building things mostly for the joy of understanding them. 
            I tend to be fascinated by questions that start simple and somehow evolve into rabbit holes involving architecture, optimization, or a completely unnecessary amount of thought. 
            This website is where I collect those journeys and occasionally pretend that everything was planned from the beginning. 
            And honestly, everything here started as "this should only take an hour..."
        </p>
        <script src="/static/index.js"></script>
    </body>
</html>